input[type=text],
input[type=password],
input[type=name],
input[type=tel] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 15px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

.register-cont {
    margin-top: 140px;
    border: 10px solid #f1f1f1;
    border-radius: 10px;
    width: 40%;
    height: 400px;
    background-color: #fff;
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    max-width: 100%;
    max-height: 100%;
    overflow: auto;
    padding: 1em 2em;
    display: table;
}
.reg_error {
    color:rgb(255, 255, 255);
    font-weight: bold;
}

/* .register-btn {
    margin-bottom: 10px;
    background-color: rgb(243, 252, 249);
    border-radius: 8px;
} */
#alreadyReg {
    padding-left:30%;
}
#alreadyRegLogin {
    color:rgb(0, 157, 255);
}
#noReg {
    padding-left:20%;
}

body{
    padding-top: 2em;
}

h1 {
    text-align: center;
}