/* .navbar .container-fluid, .navbar-expand-lg .navbar-collapse, .navbar-expand-lg .navbar-nav {
    flex-direction: column;
    align-items: flex-start;
}

.navbar-brand {
    margin-left: .5rem;
    font-weight: bold;
    color:whitesmoke;
    vertical-align: middle;
    border-bottom: 1px solid white;
} */
.navbar-brand:hover {
    background-color: whitesmoke;
}

.navbar-brand:focus {
    color: whitesmoke;
}

/* .navbar {
    width: 15%;
    height: 100vh;
    align-items: flex-start;
} */

.nav-header {
    background-color: black;
}

.nav-link,
.nav-link:focus {
    color: whitesmoke;
}

.nav-link:hover {
    background-color: aliceblue;
    color: black;
}

.vertical-nav {
    min-width: 12rem;
    width: 12rem;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
}

.page-content {
    width: calc(100% - 12rem);
    margin-left: 12rem;
}

.specialistCard {
    border: 2px solid rgb(194, 33, 105);
    background-color: rgb(230, 136, 214);
}

.clientCard {
    border: 2px solid blue;
    background-color: rgb(165, 190, 223);
}

.inactiveRepairsCard {
    border: 2px solid red;
    background-color: rgb(253, 165, 165);
}

.activeRepairsCard {
    border:2px solid orange;
    background-color: rgb(236, 217, 183);
}
.card-dash {
    padding-top: 20px;
}

#chart-wrapper {
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 50%;
}

/* cia specialistu pridejimo forma
    paslepiama uzloadinus puslapi
*/
#formInsertTechn {
    display:none;
}