body {
    padding-top: 10%;
}


h3 {
    text-align: center;
}

.morePhone {
    background-color: rgb(201, 241, 241);
}

#chart-wrapper {
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 50%;
    height: 40%;
}